{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12">

            {% for posts in post %}

            <h1>{{ posts.title }}</h1>
            {{ posts.description}}
            {{ posts.content | striptags }}
           <img src="/upload/images/{{ asset(posts.mediaUrl) }}"/>


            {% endfor %}
        </div>
    </section>
</main>

{% endblock %} 